*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContainer{
    width: 100%;
    height: 200vh;
    background-color: #f5f5f5;
    padding-left: 13.32rem;
   
}

.paragraph{
    width: 22rem;
    font-family: sans-serif;
    color: #A7B2B8;
    display: flex;
    flex-direction: column;
}
.signupBtn button{
    position: relative;
    bottom: 96px;
    background-color: #0979ED;
    border: none;
    height: 39.45px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 140px;
}
.footerElements footer{
    display: flex;
}
.footerElements{
    display: flex;
    position: relative;
    bottom: 52.61rem;
    left: 26.12rem;
}
.heading {
    padding-top: 5.21rem;
    font-size: 1.44rem;
    padding-bottom: 8.67rem;
}
.heading h1{
    font-size: 3.2rem;
    font-weight: 600;
}
.section ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #0979ED;
}
.section h2{
    font-size: 17px;
    
}
ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
li{
    font-weight: 550;
}
address{
    color: #A7B2B8;
}
.logo{
    padding-bottom: 16px;
}
.container p{
    color: #A7B2B8;
}
.container h4{
    padding-bottom: 0.8rem;
}
.socials ul{
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}